@use "../style/partials/variables.scss" as *;

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: $brandSecondary;

    &:hover {
        color: $brandPrimary;
    }
}

.container_site {
    width: 95%;
    margin: 0 auto;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $brandPrimary;
    font-weight: 600;
}